.father{
    margin: 15px 15px 0px 15px;
}
.admin-container {
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    /* margin: 30px 0px 0px 10px; */
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
}

h1 {
    text-align: center;
    color: #333;
}

input[type="text"],
textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

textarea {
    resize: vertical;
    height: 100px;
}

.file-input-container {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.Admin_div{
    display: flex;
    flex-wrap: wrap;
}

.file-input-container input[type="file"] {
    display: none;
}

.file-input-container label {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #5a67d8;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

.file-input-container label:hover {
    background-color: #434190;
}

.add-image-button {
    display: flex;
    align-items: center;
    padding: 10px 15px;
    margin: 10px;
    background-color: #48bb78;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.add-image-button i {
    margin-right: 10px;
}

.add-image-button:hover {
    background-color: #38a169;
}

.submit-button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #38a169;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
}

.submit-button:hover {
    background-color: #2f855a;
}
.tag{
    background-color: lightgreen;
    border: 1px solid;
    margin-right: 5px;
    padding: 2px;
    cursor: pointer;
}
.selected_img{
    i{
        visibility: hidden;
    }
    cursor: pointer;
}
.selected_img img{
    width: 100px;
    height: 100px;
    border-radius: 10px;
    margin-left: 10px;
}
.selected_img:hover{
i{
    visibility: visible;
}
}

.selected_img {
    position: relative;
    display: inline-block;
}

.selected_img img {
    max-width: 150px;
    max-height: 150px;
    border-radius: 10px;
    margin-top: 10px;
}

.selected_img .fas.fa-close {
    position: absolute;
    top: 8px;
    border: 1px solid black;
    right: 5px;
    color: black;
    border-radius: 50%;
    padding: 5px;
    cursor: pointer;
}


.categories,
.tag-suggestions {
    display: flex;
    border: 1px #ccc solid;
    border-radius: 4px;
    flex-wrap: wrap;
    gap: 5px;
    margin: 10px 0;
}

.tag {
    padding: 5px 10px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
}

.tag.selected {
    background-color: #d1ecf1;
    border-color: #bee5eb;
}

