.productpage {
    width: 100%;
    margin-top: 1pc;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.productpage .productbox {
    width: 290px;
    height: 350px;
    border-radius: 15px;
    text-align: center;
    position: relative;
    cursor: pointer;
    /* box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); */
    /* transition: transform 0.3s ease, box-shadow 0.3s ease; */
}

.productbox img {
    width: 100%;
    height: 75%;
    border-radius: 12px;
    margin: 5px 3px;
    object-fit: cover;
}

.productbox b {
    font-size: 18px;
    margin-top: 10px;
    display: block;
    font-weight: 500;
}

.viewbox {
    width: 100%;
    text-align: center;
    margin-top: 2pc;
}

.waicon {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 2;
}

.iconbox {
    position: absolute;
    bottom: 15px;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    gap: 15px;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.productbox:hover .iconbox {
    opacity: 1;
}

.iconbox i {
    background-color: rgba(92, 53, 3, 0.9);
    line-height: 40px;
    font-size: 25px;
    padding: 7px 5px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.iconbox i:hover {
    background-color: rgba(146, 102, 45, 0.9);
}

.button-container {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
    z-index: 2;
}

.button-container button {
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    color: white;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button-container button:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.quickbox {
    position: absolute;
    left: 180px;
    top: 30pc;
    width: 50%;
    height: 470px;
    background-color: white;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
}

.quickimg {
    margin: 10px;
    width: 95%;
    height: 85%;
    border-radius: 10px;
    background-color: transparent;
    position: relative;
}

.quickimg > img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
}

.quickbox button {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    border: none;
}
