.Slide-Container{
  width: 30%;
  margin-top: 2%;
  margin-left: 2%;
}
.try{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.Slide-Container img{
  width: 100%;
}

.prev,.next{
  width: 20%;
  height: 5%;
  margin-bottom: 50%;
}
.prev{
  margin-left: 5%;
}
.next{
  margin-left: 50%;
}